Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.git
.next
dist
.env
.vscode
.idea
*.log
*.tsbuildinfo
coverage
.gitignore
.env.local
.env.development
.env.production
.env.testing
.DS_Store
.cache
*.pem
*.crt
*.key
*.swp
*.swo
*.bak

