@import "tailwindcss";

:root {
  --background-color: #23231a;
  --text-color: #988f2a;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Geist Sans", sans-serif;
  margin: 0;
  padding: 0;
}
